# --------------------------------------------------
# -  Put this file with name ".wpsiterc" to $HOME  -
# --------------------------------------------------

# MySQL/MariaDB credentials
# DBUSER="root"
# DBPASS="vagrant"

# Where to host sites 
# SITESDIR="$HOME/sites"

# Where to store/retore backups
# BACKUPSDIR="$HOME/backups/sites"

# You really don't have to change this unless you fork it
# WPSTARTERREPO="https://github.com/tricarte/wpready3"

# Clone of above repo, downloadable with "wpsite clone-repo"
# WPSTARTERDIR="$HOME/repos/wpready3"

# How many backups to keep while using "wpsite backup your-site --purge"
# NUMBACKUPSTOKEEP=2
